<div class="jumbotron">
   <h1>Jiaqi Chen Home Page</h1>
   <p>STAY SEXY STAY COOL</p> 
   <p>Click to <%= link_to "Sign Up", "http://google.com", class: "btn btn-info"%>.</p>
   <p>Click to <%= link_to "yoyo", yoyo_path, class: "btn btn-warning"%>.</p>
</div>